<ng-template [ngIf]="loading">
  <icv-loading></icv-loading>
</ng-template>
<ng-template [ngIf]="!loading">
  <div class="col-md-6 offset-md-3 col-12">
    <div class="row bs-wizard" style="border-bottom:0;">

      <div class="col-6 bs-wizard-step" [ngClass]="{'complete': step ===1}">
        <div class="text-center bs-wizard-stepnum">{{"pages.users.create.step1" | translate}}</div>
        <div class="progress">
          <div class="progress-bar"></div>
        </div>
        <a href="javascript:;" class="bs-wizard-dot"></a>
        <div class="bs-wizard-info text-center">{{"pages.users.create.name" | translate}}</div>
      </div>

      <div class="col-6 bs-wizard-step" [ngClass]="{'complete': step===1}">
        <!-- complete -->
        <div class="text-center bs-wizard-stepnum">{{"pages.users.create.step2" | translate}}</div>
        <div class="progress">
          <div class="progress-bar"></div>
        </div>
        <a href="javascript:;" class="bs-wizard-dot"></a>
        <div class="bs-wizard-info text-center">{{"pages.users.create.birthdate" | translate}}</div>
      </div>
    </div>
    <form class="form" [formGroup]="form">
      <h2 class="fs-title">{{"pages.users.create.title" | translate}}</h2>
      <ng-template [ngIf]="step === 0">
        <div class="form-group" [ngClass]="{
              'has-error': isInvalid(form,'Name'),
              'has-success': isValid(form, 'Name')
           }">
          <div class="input-icon">
            <input type="text" formControlName="Name" class="form-control input-air"
              placeholder="{{'pages.users.create.name' | translate}}" letterOnly>
          </div>
          <p class="message text-left">{{"pages.users.create.required" | translate}}</p>
        </div>
      </ng-template>
      <ng-template [ngIf]="step === 1">
        <p class="text-left"><strong>{{"pages.users.create.birthdate" | translate}}:</strong></p>
        <div class="row">
          <div class="col-4">
            <div class="form-group" [ngClass]="{
                  'has-error': isInvalid(form,'day'),
                  'has-success': isValid(form, 'day')
               }">
              <div class="input-icon">
                <input type="text" formControlName="day" class="form-control input-air"
                  placeholder="{{'pages.users.create.day' | translate}}" maxlength="2" OnlyNumber>
              </div>
            </div>
          </div>
          <div class="col-4">
            <div class="form-group" [ngClass]="{
                  'has-error': isInvalid(form,'month'),
                  'has-success': isValid(form, 'month')
               }">
              <div class="input-icon">
                <select class="form-control input-air" formControlName="month" id="exampleFormControlSelect1">
                  <option value="" disabled selected>{{'pages.users.create.month' | translate}}</option>
                  <option value="01">{{'pages.users.create.january' | translate}}</option>
                  <option value="02">{{'pages.users.create.february' | translate}}</option>
                  <option value="03">{{'pages.users.create.march' | translate}}</option>
                  <option value="04">{{'pages.users.create.april' | translate}}</option>
                  <option value="05">{{'pages.users.create.may' | translate}}</option>
                  <option value="06">{{'pages.users.create.june' | translate}}</option>
                  <option value="07">{{'pages.users.create.july' | translate}}</option>
                  <option value="08">{{'pages.users.create.august' | translate}}</option>
                  <option value="09">{{'pages.users.create.september' | translate}}</option>
                  <option value="10">{{'pages.users.create.october' | translate}}</option>
                  <option value="11">{{'pages.users.create.november' | translate}}</option>
                  <option value="12">{{'pages.users.create.dicember' | translate}}</option>
                </select>
              </div>
            </div>
          </div>
          <div class="col-4">
            <div class="form-group" [ngClass]="{
                  'has-error': isInvalid(form,'year'),
                  'has-success': isValid(form, 'year')
               }">
              <div class="input-icon">
                <input type="text" formControlName="year" class="form-control input-air"
                  placeholder="{{'pages.users.create.year' | translate}}" maxlength="4" OnlyNumber>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="errors">
            <ul class="m-0">
              <li *ngIf="isInvalid(form,'day') && hasError(form, 'day','required')">
                {{'pages.users.create.validation1' | translate}}</li>
              <li *ngIf="isInvalid(form,'month') && hasError(form, 'month','required')">
                {{'pages.users.create.validation2' | translate}}</li>
              <li *ngIf="isInvalid(form,'year') && hasError(form, 'year','required')">
                {{'pages.users.create.validation3' | translate}}</li>
              <li *ngIf="isInvalid(form,'day') && hasError(form, 'day','max')">
                {{'pages.users.create.validation4' | translate}}</li>
              <li *ngIf="isInvalid(form,'year') && hasError(form, 'year','minLength')">
                {{'pages.users.create.validation5' | translate}}
              </li>
              <li *ngIf="isInvalid(form,'year') && hasError(form, 'year','min')">
                {{'pages.users.create.validation6' | translate}}</li>
              <li *ngIf="isInvalid(form,'year') && hasError(form, 'year','max')">
                {{'pages.users.create.validation7' | translate}}
              </li>
              <li *ngIf="isInvalid(form,'day') && hasError(form, 'day','min')">
                {{'pages.users.create.validation4' | translate}}
              </li>
              <li
                *ngIf="(isInvalid(form,'day') && hasError(form, 'day','invalidDate')) || (isInvalid(form,'month') && hasError(form, 'month','invalidDate'))">
                {{'pages.users.create.validation8' | translate}}
              </li>
            </ul>
          </div>
        </div>
      </ng-template>

      <div class="row mt-4">
        <div class="col-6" *ngIf="step === 0">
          <button class="btn btn-danger btn-block" (click)="back()">
            {{'pages.users.create.cancel' | translate}}
          </button>
        </div>
        <div class="col-6" *ngIf="step === 1">
          <button class="btn btn-danger btn-block" (click)="step = 0">
            {{'pages.users.create.back' | translate}}
          </button>
        </div>
        <div class="col-6" *ngIf="step === 0">
          <button class="btn btn-primary btn-block" (click)="next()">
            {{'pages.users.create.next' | translate}}
          </button>
        </div>
        <div class="col-6" *ngIf="step === 1">
          <button class="btn btn-primary btn-block" (click)="submit()">
            {{'pages.users.create.create' | translate}}
          </button>
        </div>
      </div>
    </form>
  </div>

</ng-template>
