<ng-template [ngIf]="loading">
  <icv-loading></icv-loading>
</ng-template>
<ng-template [ngIf]="!loading">
  <div class="col-md-6 offset-md-3 col-12">
    <div class="form-group">
      <div class="input-icon input-icon-left">
        <input type="text" [(ngModel)]="letters" class="form-control input-air"
          placeholder="{{'pages.users.list.filter' | translate}}">
        <span class="input-icon__icon">
          <span>
            <i class="la la-search"></i>
          </span>
        </span>
      </div>
    </div>
    <hr>
    <div class="row">
      <ng-template ngFor let-user [ngForOf]="filterList" let-index="index">
        <div class="col-md-4 col-6">
          <icv-card-user-list [birthdate]="user.birthdate" [tittle]="user.name" [id]="user.id" [index]="index"
            (refresh)="loadUsers()">
          </icv-card-user-list>
        </div>
      </ng-template>
    </div>
  </div>
</ng-template>
