<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="javascript:;">ICV</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item" [routerLink]="['/pages/user/list']" routerLinkActive="active">
        <a class="nav-link" href="javascript:;">{{"header.list" | translate}}</a>
      </li>
      <li class="nav-item" [routerLink]="['/pages/user/create']" routerLinkActive="active">
        <a class="nav-link" href="javascript:;">{{"header.create" | translate}}</a>
      </li>
      <li class="nav-item" [ngClass]="{'active': activeLang === 'es'}">
        <a class="nav-link" href="javascript:;" (click)="cambiarLenguaje('es')">{{"header.spanish" | translate}}</a>
      </li>
      <li class="nav-item" [ngClass]="{'active': activeLang === 'en'}">
        <a class="nav-link" href="javascript:;" (click)="cambiarLenguaje('en')">{{"header.english" | translate}}</a>
      </li>
    </ul>
  </div>
</nav>
