<div class="card-user-list">
  <div class="image">
    <img src="{{id | randomUser}}">
  </div>
  <div class="tittle">
    <a href='javascript:;'>{{tittle || "N/A"}}</a><img class="zodiac" src="{{birthdate | horoscope}}">
  </div>
  <div class="action">
    <div class="m-auto">
      <a href="javascript:;" (click)="show()" class="btn btn-primary btn-sm">
        <i class="la la-user"></i>
      </a>
      <a href="javascript:;" (click)="edit()" class="btn btn-success btn-sm">
        <i class="la la-edit"></i>
      </a>
      <a href="javascript:;" (click)="delete()" class="btn btn-danger btn-sm">
        <i class="la la-trash"></i>
      </a>
    </div>
  </div>
</div>
