.card-user-list {
  cursor: default;
  display: inline-block;
  vertical-align: top;
  width: 100%;
  position: relative;
  overflow: hidden;
  margin: 10px;
  background: #2f3542;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  color: #f0f0f0;
  border-radius: 15%;
}

.card-user-list:hover {
  transform: scale(1.1);

  .action {
    display: flex;
  }

  .tittle {
    display: none;
  }
}

.card-user-list p {
  margin: 0;
}

.card-user-list .tittle {
  font-size: 1.2rem;
  padding: 10px;
  padding-left: 2.5rem;
  font-size: 1rem;

  .zodiac {
    max-width: 1.75rem;
    position: absolute;
    left: 6%;
  }
}

.card-user-list .action {
  display: none;
  font-size: 1.2rem;
  padding: 10px;
}

.card-user-list a {
  cursor: pointer;
  color: #ffffff;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
  text-transform: capitalize;
  text-decoration: none;
}

.card-user-list .action a {
  margin: 0 5px;
}

.card-user-list .image {
  position: relative;
}

.card-user-list .image img {
  border-radius: 2px 2px 0 0;
  position: relative;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
}
