/* You can add global styles to this file, and also import other style files */
@import './assets/vendor.bundle.css';

.form-control {
  border-radius: 1.3rem;
  border-color: #dfe4ea;
  height: calc(2.5rem + 2px);
  padding: .375rem 1.5rem;

  &.input-air {
    box-shadow: 0px 3px 20px 0px rgba(113, 106, 202, 0.11);
  }
}

.form-group {
  margin: 0.75rem 0;
}

.form-group.has-error {
  .form-control {
    border-color: #ff4757;
  }

  .message {
    display: block;
  }
}

.message {
  display: none;
  color: #ff4757;
}

.form-group.has-success {
  .form-control {
    border-color: #2ed573;
  }
}

.input-icon {
  position: relative;

  &.input-icon-left .form-control {
    padding-left: 3.2rem;
  }

  .input-icon__icon {
    position: absolute;
    display: inline-block;
    text-align: center;
    top: 10px;
    width: 3.2rem;

    span {
      display: table;
      height: 100%;
      width: 100%;

      i {
        color: #a4b0be;
        font-size: 1.4rem;
      }
    }
  }
}
