<ng-template [ngIf]="loading">
  <icv-loading></icv-loading>
</ng-template>
<ng-template [ngIf]="!loading">
  <div class="col-md-6 offset-md-3 col-12">
    <div class="card card-show">
      <div class="card-image">
        <img src="{{user.id | randomUser}}" class="card-img-top" alt="...">
      </div>
      <div class="card-name">
        <h2> {{user.name}}</h2>
      </div>
      <div class="card-title">
        <p class="m-0"><strong>{{'pages.users.show.birthdate' | translate}}:</strong> {{user.birthdate | date:short}}
        </p>
      </div>
      <div class="card-body"> <img class="zodiac mr-2" src="{{user.birthdate | horoscope}}">
        <p class="card-text" *ngIf="zodiac">
          {{'pages.users.show.' + zodiac | translate}}
        </p>
        <div class="d-flex">
          <div class="m-auto">
            <a href="javascript:;" class="btn btn-primary mx-2"
              (click)="back()">{{'pages.users.show.back' | translate}}</a>
            <a href="javascript:;" class="btn btn-success mx-2"
              (click)="edit()">{{'pages.users.show.edit' | translate}}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
