.card-show {
  margin-top: 85px;
  margin-bottom: 50px;

  .card-image {
    position: absolute;
    top: 0;
    left: 50%;
    display: block;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid white;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transform: translate(-50%, -50%);
    overflow: hidden;
  }

  .card-name {
    margin-top: 70px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 5px 0;
  }

  .card-title {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0;
    padding: 0 0 5px;
    font-size: 12px;
    text-transform: uppercase;
  }

  background: #2f3542;
  border-radius: 30px;
  color: #ffffff;

  p {
    text-align: justify;
  }

  .zodiac {
    max-width: 100px;
    float: left;
  }
}
